<html>
<html>
<head>
    <title>AngularJS Demo</title>
    <style>
        *[data-ng-cloak] {
            display: none;
        }

        .red {
            background-color: red;
        }
        .large {
            font-size: x-large;
        }
    </style>
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body data-ng-app data-ng-cloak>

    <h1>Hello, Angular!</h1>
    <div data-ng-controller="DemoController">
        
       
        

        <a href="http://ndc-london.com" 
           ng-href="http://ndc-london.com/{{user.firstName}}">
            Link
        </a>

        <span ng-show="user.firstName"
              ng-class="user.classNames"
              >{{ message }}</span>
        <input type="text"
               data-ng-model="user.firstName"
               data-ng-change="updateMessage()" />
        <button data-ng-click="unstyle()">Unstyle</button>

    </div>
    
    

    <div ng-controller="ListController">
        <table class="table table-hover table-striped">
            <tr data-ng-repeat="user in users">
                <td>
                    {{$index + 1}} of {{users.length}} :
                    {{user.firstName}}
                </td>
                <td>{{user.country}}</td>
            </tr>
        </table>    
    </div>
    
    
    

    <script src="scripts/angular.js"></script>

    <script>




        var ListController = function($scope) {

            $scope.users =
            [
                { firstName: "Scott", country: "USA" },
                { firstName: "Gill", country: "Belgium" },
                { firstName: "Joy", country: "USA" }
            ];
        };


        var DemoController = function ($scope) {

            var user = {
                firstName: "Scott",
                lastName: "Allen",
                classNames: {
                    red: true,
                    large: true
                }
            };

            $scope.unstyle = function() {
                user.classNames.red = false;
            };
            
            $scope.user = user;
            $scope.message = "Hello, World!";
            
            $scope.updateMessage = function () {
                $scope.message = "Hello, " + $scope.user.firstName;
            };


        };

    </script>

</body>

</html>
