<html>

<head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/ng/styles.css">
</head>

<body class="container ng-cloak" ng-app="atTheMovies">
       
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">At The Movies (NG)</a>
            </div>
        </div>
    </nav>
          
    <div class="row" ng-controller="MoviesController">
            
        <div class="col-md-12">
            
            <input type="text" ng-model="searchTerm" />
            
            <select ng-model="ordering">
                <option value="-rating">Rating</option>
                <option value="+year">Year</option>
                <option value="-year">Year (descending)</option>
            </select>

            <table class="table table-condensed" ng-show="movies">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Rating</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in movies | filter:{ title:searchTerm} | orderBy:ordering">
                        <td>{{movie.title}}
                        </td>
                        <td>{{movie.year}}</td>
                        <td>{{movie.rating}}</td>
                        <td>
                            <button ng-click="increase(movie)">Rating +</button>
                            <button ng-click="decrease(movie)">Rating -</button>
                            <button ng-click="edit(movie)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
              
        <div ng-include="'views/edit.html'">
            
        </div>

    </div>

    <script src="/bower_components/angular/angular.js"></script>    
    <script src="scripts/atTheMovies.js"></script>
    
    <script src="scripts/HelloController.js"></script>
    <script src="scripts/movieService.js"></script>
    <script src="scripts/MoviesController.js"></script>
    <script src="scripts/allJson.js"></script>
</body>

</html>
