<html>

<head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/ng/styles.css">
</head>

<body class="container ng-cloak" ng-app="atTheMovies">
       
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">At The Movies (NG)</a>
            </div>
        </div>
    </nav>
          
    <div class="row" ng-controller="MoviesController">
            
        <div class="col-md-12">
            <table class="table table-condensed" ng-show="movies">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Rating</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in movies">
                        <td>{{movie.title}}
                        </td>
                        <td>{{movie.year}}</td>
                        <td>{{movie.rating}}</td>
                        <td>
                            <button ng-click="increase(movie)">Rating +</button>
                            <button ng-click="decrease(movie)">Rating -</button>
                            <button ng-click="edit(movie)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div ng-show="editableMovie">
            
            <div ng-show="movieEdit.$invalid">Currently invalid</div>

            <form name="movieEdit">                
                <input name="title" type="text" required="" ng-model="editableMovie.title" />
                <input type="number" ng-model="editableMovie.year" />
                <input type="number" min="1" max="5" ng-model="editableMovie.rating" />
                <button ng-click="save(editableMovie)">Save</button>
                <button ng-click="cancelEdit()">Cancel</button>
            </form>
        </div>

    </div>

    <script src="/bower_components/angular/angular.js"></script>    
    <script src="scripts/atTheMovies.js"></script>
    
    <script src="scripts/HelloController.js"></script>
    <script src="scripts/movieService.js"></script>
    <script src="scripts/MoviesController.js"></script>
</body>

</html>
