<div ng-show="editableMovie">

    <div ng-show="movieEdit.$invalid">Currently invalid</div>

    <form name="movieEdit">
        <input name="title" type="text" required="" ng-model="editableMovie.title" />
        <input name="year" type="number" ng-model="editableMovie.year" />
        <input name="rating" type="number" min="1" max="5" ng-model="editableMovie.rating" />
        <button ng-disabled="movieEdit.$invalid" ng-click="save(editableMovie)">Save</button>
        <button ng-click="cancelEdit()">Cancel</button>
    </form>
</div>